.about-company
  .about-company__column.el-1
    .about-company__body
      .about-company__title ABOUT OUR STUDIO
      .about-company__text
        p Наша медиа-группа представляет собой превосходную студию звукозаписи и продюсерскую компанию. Мы специализируемся на создании текстов, продюсировании, звукозаписи и развитии талантов. Готовы к сотрудничеству с вами в любое время.
        p Мы признаём и ценим значимость каждого проекта. Наше обязательство - обеспечить высочайшее качество звукозаписи, гибкость и терпение, необходимые для достижения вами высокого уровня в конкурентной среде современного рынка.
        p В нашей студии вас ждёт дружелюбная и уютная атмосфера, создающая идеальное окружение для раскрытия вашего таланта и создания ваших лучших произведений.
    .about-company__footer
      a.about-company__button(href="@@webRoot/pages/about-company.html") Read more
  .about-company__column.el-2
    .about-company__body
      .about-company__title SERVICES
      .about-company__item-services
        i.icon-microphone
        span Мы предлагаем услуги аналоговой и цифровой записи, а также микширования в широком спектре жанров.
      .about-company__item-services
        i.icon-fast-forward
        span Наша студия привлекает великолепным интерьером и оборудованными комфортабельными помещениями, идеально подходящими для создания лучших произведений.
      .about-company__item-services
        i.icon-music
        span В нашей студии мы внедряем передовое оборудование и программное обеспечение для микширования, обеспечивая высочайшее качество звучания ваших треков. Ваше творчество - наш приоритет.
    .about-company__footer
      a.about-company__button(href="#", type="button") Read more
  .about-company__column.el-3
    .about-company__body
      .about-company__title OUR TEAM
      .team-mates.about-company__team-items
        ul.team-mates__list
          li
            .team-mates__image
              img(src="@@webRoot/img/footer/team-1.png", alt="image")
          li
            .team-mates__name
              a(href="#") Ryan Gosling
            .team-mates__text
              p Райан - основатель студии и ведущий звукорежиссер. Engineer.
        ul.team-mates__list
          li
            .team-mates__image
              img(src="@@webRoot/img/footer/team-2.png", alt="image")
          li
            .team-mates__name
              a(href="#") Ryan Gosling
            .team-mates__text
              p Райан - ассистент звукорежиссера в студии звукозаписи.
        ul.team-mates__list
          li
            .team-mates__image
              img(src="@@webRoot/img/footer/team-3.png", alt="image")
          li
            .team-mates__name
              a(href="#") Ryan Gosling
            .team-mates__text
              p Райан - ассистент звукорежиссера в студии звукозаписи.
        ul.team-mates__list
          li
            .team-mates__image
              img(src="@@webRoot/img/footer/team-4.png", alt="image")
          li
            .team-mates__name
              a(href="#") Ryan Gosling
            .team-mates__text
              p Adam is the studio’s founder and leading sound engineer.