div(class="audio-player")
  div(class="audio-player__controls")
    div(class="audio-player__play-container")
      div(class="audio-player__toggle-play play")
    div(class="audio-player__time")
      div(class="audio-player__current") 0:00
      div(class="audio-player__divider") /
      div(class="audio-player__length")
    div(class="audio-player__name") AdeleTaylor-Hello
    div(class="audio-player__volume-container")
      div(class="audio-player__volume-button")
        div(class="audio-player__volume icono-volumeMedium")
      div(class="audio-player__volume-slider")
        div(class="audio-player__volume-percentage")
  div(class="audio-player__timeline")
    div(class="audio-player__progress" style=`width: ${progress}%`)