div(class="main-slide")
  div(class="main-slide__body _swiper")
    div(class="main-slide__slide-wrapper")
      div(class="main-slide__slide-image _img")
        img(src="@@webRoot/img/main/slides/slide_1.webp", alt="slide-1")
      div(class="main-slide__content")
        div(class="main-slide__title el-slidetitle")
          span Профессиональная 
          | Студия Звукозаписи

        div(class="main-slide__text").
          Мы - современная студия звукозаписи, в которой работают лучшие российские специалисты в области записи и продюсирования музыки, предоставляющие самый лучший сервис и удобства для современных артистов, как подписанных, так и независимых.
          
    div(class="main-slide__slide-wrapper")
      div(class="main-slide__slide-image _img")
        img(src="@@webRoot/img/main/slides/slide_4.webp", alt="slide-4")
      div(class="main-slide__content")
        div(class="main-slide__title el-slidetitle")
          span Атмосфера Звука 
          | Музыкального Пространства

        div(class="main-slide__text").
          Мы создаем звуковые шедевры, где каждая нота оживает и звучит волшебно. Наша команда гарантирует, что ваше музыкальное произведение будет звучать так же эмоционально и мощно, как в самом сердце концертного зала. Доверьте нам ваше творчество и ощутите магию звука в каждой ноте.
          
    div(class="main-slide__slide-wrapper")
      div(class="main-slide__slide-image _img")
        img(src="@@webRoot/img/main/slides/slide_2.webp", alt="slide-2")
      div(class="main-slide__content")
        div(class="main-slide__title el-slidetitle")
          span Индивидуальный подход 
          | к Нашим Клиентам

        div(class="main-slide__text").
          В нашей студии мы всегда стараемся делать все возможное, чтобы процесс записи был вдохновляющим и творческим. Мы индивидуально подбираем подход к каждому клиенту, с которым работаем.
          
    div(class="main-slide__slide-wrapper")
      div(class="main-slide__slide-image _img")
        img(src="@@webRoot/img/main/slides/slide_3.webp", alt="slide-3")
      div(class="main-slide__content")
        div(class="main-slide__title el-slidetitle")
          span Все виды 
          | Микширования Звука

        div(class="main-slide__text").
          Если вы ищете качественное сведение звука, то в нашей студии есть все, что вам нужно! Помимо первоклассных решений для микширования и мастеринга, мы также предлагаем полный цикл услуг по созданию музыки.
          
  div(class="main-slide__pagination")
  div(class="main-slide__media")
    include ./audio-player
    
    
    