header.header.key-object
	._container
		._column.el-logo
			a(href="@@webRoot/index.html")
				._logo 
			._text 
				h2 Media-Studio 
				p
					span Group
					span Obninsk 
		._column
			._menu
				a(href="")._item.--services HOME 
				._item
					button.link-key.key-services SERVICES 
				._item
					a(href="@@webRoot/videos") VIDEOS 
				._item
					a(href="@@webRoot/about") ABOUT 
				._item
					a(href="@@webRoot/news") NEWS 
				._item.--contacts
					button.link-key.key-services CONTACTS
			._bookmark
		.el-community._column
			a(href="tel:++79106044424")._phone
				+iconfont('phone-ringing')
				//- i(class="icon-phone-ringing")
				._content
					.el-community__title GIVE US A CALL
					span +7 910 604-44-24